[Unit]
Description=Firewall Knock Operator Daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
PIDFile=/run/fwknop/fwknopd.pid
ExecStart=/usr/sbin/fwknopd
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
